<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>KC Admin</span>
  <span style="flex: 1 1 auto;"></span>
  <span *ngIf="pageTitle">{{pageTitle}}</span>
</mat-toolbar>

<mat-menu #appMenu="matMenu" color="primary">
    <button mat-menu-item routerLink="admin">KC Administration home</button>
    <button *ngIf="currentProject" mat-menu-item routerLink="viewproject/{{currentProject.id}}">{{currentProject.name}} Administration</button>
    <button [disabled]="membersDisabled" *ngIf="currentProject" mat-menu-item routerLink="viewmembers/{{currentProject.id}}">{{currentProject.name}} Members</button>
    <button [disabled]="studentsDisabled" *ngIf="currentProject" mat-menu-item routerLink="viewstudents/{{currentProject.id}}">{{currentProject.name}} Students</button>
    <button [disabled]="documentsDisabled" *ngIf="currentProject" mat-menu-item routerLink="documents/{{currentProject.id}}">{{currentProject.name}} Documents</button>
    <button [disabled]="albumsDisabled" *ngIf="currentProject" mat-menu-item routerLink="editalbums/{{currentProject.id}}">{{currentProject.name}} Albums</button>
    <button [disabled]="auditDisabled" *ngIf="currentProject" mat-menu-item routerLink="audit/{{currentProject.id}}">Audit log</button>
    <button [disabled]="auditDisabled" *ngIf="!currentProject" mat-menu-item routerLink="audit">Audit log</button>
    <button [disabled]="createProjectDisabled" mat-menu-item [routerLink]="['newproject']">Create a new project</button>
    <button mat-menu-item><a href="/logout">Log Out of KC</a></button>
</mat-menu>
<router-outlet></router-outlet>
