<div class="mat-typography">
    <div style="display: block" *ngIf="project">
        <div style="display: flex;">
            <button mat-raised-button routerLink="/editproject/{{project.id}}">Edit Project</button>&nbsp;
            <button mat-raised-button><a href="/view/project/{{project.id}}">View Project</a></button>
        </div>
        <div style="height: 20px;"></div>
        <div style="display: flex;">
            <div><button mat-raised-button routerLink="/viewmembers/{{project.id}}">Members</button></div>&nbsp;
            <div><button mat-raised-button routerLink="/viewstudents/{{project.id}}">Students</button></div>&nbsp;
            <div><button mat-raised-button routerLink="/editalbums/{{project.id}}">Albums</button></div>&nbsp;
            <div><button mat-raised-button routerLink="/documents/{{project.id}}">Documents</button></div>&nbsp;
            <div><button mat-raised-button routerLink="/attendance/{{project.id}}">Attendance</button></div>
        </div>
    </div>
    <p>Project team members: {{((project && project.users) ? project.users.length : "")}}</p>
    <table mat-table [dataSource]="teams" *ngIf="teams">
    <ng-container matColumnDef="teamName">
        <th mat-header-cell *matHeaderCellDef> Team </th>
        <td mat-cell *matCellDef="let team"><a routerLink="/viewteam/{{project.id}}/team/{{team.id}}">{{team.name}}</a></td>
    </ng-container>

    <ng-container matColumnDef="teamAvatar">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let team"><img src="/rest/data/download/{{team.mediaDescriptor}}" width="50"></td>
    </ng-container>

    <ng-container matColumnDef="teamScore">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let team"> {{team.score}} </td>
    </ng-container>

    <ng-container matColumnDef="teamStudents">
        <th mat-header-cell *matHeaderCellDef>Students</th>
        <td mat-cell *matCellDef="let team"> {{team.students.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
