<mat-list>
  <mat-list-item>
    <mat-form-field appearance="standard"><mat-label>Given Name</mat-label><input matInput name="givenName" value="{{currentUser.givenName}}"></mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field appearance="standard"><mat-label>Family Name</mat-label><input matInput name="familyName" value="{{currentUser.familyName}}"></mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field appearance="standard"><mat-label>Name</mat-label><input matInput name="name" value="{{currentUser.name}}"></mat-form-field>
    <span>How you would like to be known on this site. <b>Required</b>.</span>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field appearance="standard"><mat-label>Mobile Number</mat-label><input matInput name="mobilePhone" value="{{currentUser.mobilePhone}}"></mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field appearance="standard"><mat-label>Home Number</mat-label><input matInput name="homePhone" value="{{currentUser.homePhone}}"></mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field appearance="standard" disabled="true"><mat-label>E-Mail Address</mat-label><input matInput name="email" value="{{currentUser.email}}"></mat-form-field>
    <span>You need to contact an admin if you want to change your email address.</span>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field appearance="standard"><mat-label>Avatar URL</mat-label><input matInput name="avatarUrl" value="{{currentUser.avatarUrl}}"></mat-form-field>
    <span id="avatar_preview"></span>
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="imgFileInput.click()">Upload photo</button>
    <input hidden type="file" #imgFileInput />
    <span id="upload_preview"></span>
  </mat-list-item>
</mat-list>

<button mat-raised-button color="primary">Save</button>
