@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.removable-container {
    display: block;
}

.removable {
    display: flex;
}

.removable-label {
    width: 150px;
}

.removable-control {
    cursor: pointer;
}

.data-display {
    display: flex;
}

.data-display-key {
    width: 150px;
    text-align: right;
    font-weight: bold;
    padding-right: 8px;
}

.data-display-value {
}

.attendance_I {
    color: #248816;
}

.attendance_O {
    color: #b26e22;
}

.attendance_A {
    color: #a4a29d;
}

.attendance_S {
    color: #eb39b9;
}

table.mat-table {
    width: 100%;
}
