<table mat-table [dataSource]="students" *ngIf="project">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let student"> <a routerLink="/student/{{project.id}}/{{student.id}}">{{student.name}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="warnings">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let student">
            <span *ngIf="student.specialInstructions"><mat-icon color="accent">warning</mat-icon></span>
            <span *ngIf="!student.mediaPermitted"><mat-icon color="accent">broken_image</mat-icon></span>
        </td>
    </ng-container>

    <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let student">
            <a *ngIf="student.studentTeam" routerLink="/team/{{project.id}}/{{student.studentTeam.id}}">{{student.studentTeam.name}}</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
