<div *ngIf="project">
    <button mat-raised-button routerLink="/editstudent/{{project.id}}">Add a student</button>&nbsp;
    <button mat-raised-button routerLink="/importstudents/{{project.id}}">Import Students</button>&nbsp;
    <button mat-raised-button><a href="/rest/students/export/csv/?projectId={{project.id}}">Export Students</a></button>&nbsp;
    <button mat-raised-button routerLink="/createteam/{{project.id}}">Create a team</button>&nbsp;
</div>

<table mat-table [dataSource]="students" *ngIf="project">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>


        <td mat-cell *matCellDef="let student">
            <div class="removable-container">
                <div class="removable">
                    <div class="removable-label"><a routerLink="/editstudent/{{project.id}}/student/{{student.id}}">{{student.name}}</a></div>
                    <div class="removable-control"><mat-icon (click)="removeStudent(student)">delete</mat-icon></div>
                </div>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="warnings">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let student">
            <span *ngIf="student.specialInstructions"><mat-icon color="accent">warning</mat-icon></span>
            <span *ngIf="!student.mediaPermitted"><mat-icon color="accent">videocam_off</mat-icon></span>
        </td>
    </ng-container>

    <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let student">
            <a *ngIf="student.studentTeam" routerLink="/viewteam/{{project.id}}/team/{{student.studentTeam.id}}">{{student.studentTeam.name}}</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
