<div class="mat-typography">
    <p>Use this page to upload a CSV file containing student information. The following columns are imported:</p>
    <ul>
        <li>name - The student's name</li>
        <li>given name - The student's first given name</li>
        <li>family name - The student's family name</li>
        <li>phone - A contact phone number</li>
        <li>email - A contact email address</li>
        <li>school - The name of the student's school</li>
        <li>age - The student's age in years</li>
        <li>school year - The year the student is in at school</li>
        <li>gender - The student's gender. (This column can also be called 'sex')</li>
        <li>emergency contact - An emergency contact name for this student. (This column can also be called 'contact name' or 'parent')</li>
        <li>contact relationship - The emergency contact's relationship to the child, such as "parent". (This column can also be called 'relationship')</li>
        <li>special instructions - Any special instructions, like allergies or food intolerances.</li>
        <li>team - The name of the team to assign this child to. Note that this must be an exact match to an existing team name.</li>
    </ul>
    <p>The only required field is either "name" or both "given name" and "family name".</p>
    <form #importForm="ngForm">
        <label>
            <input type="file" (change)="setFile($event)" style="display:none" multiple/>
            <a mat-raised-button>
                <mat-icon>file_upload</mat-icon>
                Select CSV File
            </a>
        </label> <span *ngIf="newFilename">File to upload: {{newFilename}}</span>
    </form>
    <button mat-raised-button color="primary" (click)="onSubmit()">Import</button>&nbsp;
    <button mat-raised-button (click)="onCancel()">Cancel</button>
</div>
